{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css')}}">
{% endblock %}

{% block title %}Mon compte{% endblock %}

{% block main %}

<div class="student-profile">
    <div class="bodyProfil">
        <div class="card shadow-sm">
        <div class="card-header bg-transparent text-center">
            <h1>{{ participant.prenom }} {{ participant.nom }} </h1>
        </div>
        <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Email : </strong>{{ participant.email }}</p>
            <p class="mb-0"><strong class="pr-1">Téléphone : </strong>{{ participant.telephone }}</p>
            <p class="mb-0"><strong class="pr-1">Campus : </strong>{{ participant.campus }}</p>
            <p class="mb-0"><strong class="pr-1">Administrateur : </strong>{{ participant.administrateur ? 'Yes' : 'No' }}</p>
        </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
                <h2 class="mb-0"><i class="far fa-clone pr-1"></i> Options </h2>
            </div>
            <div class="card-body pt-0">
                <table class="table table-bordered">
                <tr>
                    <th width="30%"><a href="{{ path('app_participant_index') }}">Liste des participants</a></th>
                </tr>
                <tr>
                    <th width="30%"><a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a></th>
                </tr>
                <tr>
                    <th width="30%">{{ include('participant/_delete_form.html.twig') }}</th>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>





   {#} <h1>Mon profil</h1>
        
            <table class="table">
                <tbody>
                    {# <tr>
                        <th>Id</th>
                        <td>{{ participant.id }}</td>
                    </tr> 
                    <tr>
                        <th>Email</th>
                        <td>{{ participant.email }}</td>
                    </tr>
                    {# <tr>
                        <th>Roles</th>
                        <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                    </tr> #}
                    {# <tr>
                        <th>Password</th>
                        <td>{{ participant.password }}</td>
                    </tr> 
                    <tr>
                        <th>Nom</th>
                        <td>{{ participant.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ participant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ participant.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Administrateur</th>
                        <td>{{ participant.administrateur ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Actif</th>
                        <td>{{ participant.actif ? 'Yes' : 'No' }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('app_participant_index') }}">Liste des participants</a>

            <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a>
    {{ include('participant/_delete_form.html.twig') }}{#}
{% endblock %}
