{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block main %}
 <div class="divPrincipale">
        <div class="contenu">
            <div class="uk-position-center uk-overlay uk-overlay-default">
                <h1>Liste des Campus</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                    <tbody>
                {% for campus in campuses %}
                    <tr>
                        <td>{{ campus.id }}</td>
                        <td>{{ campus.nom }}</td>
                    <td>
                        <a href="{{ path('app_campus_show', {'id': campus.id}) }}">Voir</a>
                        <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <a href="{{ path('app_campus_new') }}">Créer un nouveau campus</a>
        </div>
    </div>
</div>
    
 


{% endblock %}
