{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sortieIndex.css')}}">
{% endblock %}

{% block title %}Sortie index{% endblock %}

{% block main %}
    
    <div class="title">
        <h1> Les sorties </h1>
    </div>
    <h3>Filtrer les sorties</h3>
            <div class="ms-4 p-3 col-3">
                {{ form_start(filtersForm) }}
                <div class="pb-3">
                    {{ form_row(filtersForm.campus) }}
                </div>
                <div class="pb-3">
                    {{ form_row(filtersForm.text) }}
                </div>
                <div class="row">
                    <div class="p-3 col-6">
                        Entre
                        {{ form_row(filtersForm.dateHeureDebut) }}
                    </div>
                  
                </div>
            </div>
            <div class="col-5">
                {{ form_row(filtersForm.organisateur) }}

            </div>
            <div class="col-2">
                {{ form_row(filtersForm.search) }}
                {{ form_end(filtersForm) }}
            </div>
    <div class="card-content">
    {% for sortie in sorties %}
            
        <div class="card">
            <img src="light.jpg" alt="light" class="icon">
            <p class="title">Favourites</p>
            <p class="text">Check all your favourites in one place.</p>
        </div>

    {% endfor %}
    </div>
    
{% endblock %}
