{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sortieIndex.css')}}">
{% endblock %}

{% block title %}Sortie index{% endblock %}

{% block main %}
    
    <div class="title">
        <h1> Les sorties </h1>
    </div>
    
    <div class="card-content">
    {% for sortie in sorties %}
            
        <div class="card">
            <a href="{{path('app_sortie_show', {'id': sortie.id} )}}" class="card-link">
                {# <img src="light.jpg" alt="light" class="icon"> #}
                <p class="title">{{sortie.nom}}</p>
                <p class="text">{{sortie.InfosSortie}}</p>
                <p class="date">{{sortie.DateHeureDebut | date("d m Y")}}</p>
            </a>
        </div>

    {% endfor %}
    </div>
    
{% endblock %}
