{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block main %}

<div class="sortieTitle">
        <h1>Les sorties </h1>
    </div>

        {% for event in sortie %}
            <div class="cardSorties" uk-grid>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{asset('images/mountains.svg')}}" width="" height="100%" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Sortie à la montagne</h3>
                            <p>La montagne, ca vous gagne! </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>
    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}