{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sortieIndex.css')}}">
{% endblock %}

{% block javascripts %}
    <script defer src="{{ asset('js/app.js')}}"></script>
{% endblock %}

{% block title %}Sortie index{% endblock %}

{% block main %}
    
    <div class="titre">
        <h1>Les sorties</h1>
    </div>
    <div class="recherche">
        <h3>Filtrer les sorties</h3>
        <label for="searchbox">Rechercher</label>
        <input 
        type="search" 
        oninput="liveSearch()" 
        id="searchbox" >
    </div>

    <div class="card-content items">
    {% for sortie in sorties %}
            
        <div class="card">
            <a href="{{path('app_sortie_show', {'id': sortie.id} )}}" class="card-link">
                <p class="title">{{sortie.nom}}</p>
                <p class="text">{{sortie.InfosSortie}}</p>
                <p class="date">{{sortie.DateHeureDebut | date("d m Y")}}</p>
                <p hidden>{{sortie.campus.nom}}</p>
                <p hidden>{{sortie.lieu.ville.nom}}</p>
            </a>
        </div>

    {% endfor %}
    </div>

    <span class="is-hidden">secret</span> 
    
{% endblock %}
